<h>Listing Posts</h3>

<% @posts.each do |post| %>
    <div class="well">

      <%= render post.categories %>
      <%= render post %>

      <small>
        <%= link_to pluralize(post.comments.size, 'comment'), post %>
      </small>
    </div>
<% end %>

<br>
