- flash.each do |name, msg|
  - if msg.is_a?(String)
    %div{:class => "alert alert-#{name} alert-dismissible", :role => "alert"}
      %button.close{:type => "button", :data => {:dismiss => "alert" }}
        %span{:aria => { :hidden => "true"}} &times
        %span.sr-only Close
      = content_tag :div, msg, :id => "flash_#{name}"
